// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #b100fe;   // Electric Purple
$secondary : #146f9b;   // Deep Ocean Blue
$accent    : #0090ff;   // Sky Blue

$dark      : #1D1D1D;   // Dark Gray
$dark-page : #121212;   // Almost Black

$positive  : #00ffee;   // Turquoise
$negative  : #d763c9;   // Magenta Pink
$info      : #003cff;   // Electric Blue
$warning   : #fa729c;   // Salmon Pink
